.form-wrapper {
  background-color: var(--card-bg);
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 4px 10px rgba(0, 150, 136, 0.2);
}

.form-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 0.25rem;
}

.form-wrapper label {
  font-weight: bold;
  color: var(--cyan);
}

.form-wrapper button {
  margin-top: 0.5rem;
  background-color: var(--accent-bg);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.form-wrapper button:hover {
  background-color: var(--button-hover);
}

.danger-button {
  background-color: #e53935;
}

.danger-button:hover {
  background-color: #b71c1c;
}

.delete-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
